<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/static/css/index.css">
    
    <script src="/static/js/index.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

    <title>PanGlo'TSE</title>
</head>
<body>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input id="file-picker" type="file" name="file" accept="image/*" multiple>
        <div id="dropbox">
            Drag and Drop Files Here
        </div>
    
        <fieldset id="progress" style="display: none">
            <legend>Files Progress</legend>
    
            <div class="progress-trough">
                <div id="progress-bar" class="progress-bar">0%</div>
            </div>
        </fieldset>
    
        <input type="submit" value="Upload!" id="upload-button">
    </form>
</body>
</html>